html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='id=edge')
    title OAuth Test
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='style.css')
  body
    include _headers
    div(style="width:1000px;max-width:96vw;min-width:60vw;margin:auto;")
      block content
    
